*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Slab', serif;
}

body{
  background-image: url(../fondo-inicio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* barra de menu */

nav {
  width: 100%;
  height: 60px;
  background-color: #0471A6;
  position: fixed;
}

nav .logo-inicio {
  height: 40px;
  float: left;
  padding-left: 120px;
  padding-top: 10px;
}

nav .menu {
  float: right;
  padding-right: 120px;
}

nav .menu .menu-p {
  float: right;
  list-style: none;
  position: relative;
}

nav .menu .menu-p a {
  display: block;
  color: #F0E049;
  font-size: 20px;
  padding: 12px 14px;
  text-decoration: none;
}

nav .menu .menu-p a img {
  width: 50px;
}

nav .menu .menu-p a .lupa {
  width: 40px;
}

nav .menu .menu-p a h6 {
  font-size: 20px;
  padding-right: 17px;
}

nav .menu .menu-p .dropdown {
  display: none;
  position: absolute;
  background-color: #0471A6;
  padding: 0;
  list-style: none;
}

nav .menu .menu-p:hover .dropdown {
  display: block;
}

nav .menu .menu-p .dropdown li {
  width: 180px;
}


nav .menu .menu-p .dropdown li a h4 {
  font-size: 24px;
  color: #F6F1EE;

}
nav .menu .menu-p .dropdown li a h5 {
  font-size: 18px;
  color: #F6F1EE;
  padding-left: 15px;
  font-weight: lighter;
}

nav .menu .menu-p .dropdown li a:hover {
  background-color: #0083C3;
}


.gif{
  width: 230px;
  float: left;
  padding-left: 150px;
}

.gif2{
  width: 230px;
  float: right;
  padding-right: 150px;
}

/* titulo-Sinapsis */

.flex-container2 {
  display: flex;
  background-color: inherit;
  padding-top: 150px;
  justify-content: center;
}

.flex-container2 > div {
  background-color: inherit;
  margin: 10px;
  padding: 30px;
  color: #fbfef9;
}

.logo{
  width: 450px;
}

/* ir a categorias */

.flex-container3 {
  display: flex;
  background-color: inherit;
  justify-content: center;
}

.flex-container3 > div {
  background-color: inherit;
  margin: 10px;
  padding-left: 40px;
  color: #fbfef9;
  width: 330px;
  justify-content: center;
}

.btn{
  color: #E2E2E2;
  text-decoration: none;
  font-size: 3vw;
}

.flecha{
  width: 50px;
  float: right;
}

/* bloques de texto */

.flex-container {
  display: flex;
  background-color: inherit;
  padding-top: 70px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 30px;
  min-width: 1000px;
  overflow: hidden;
}



.flex-container .item1 {
  float: left;
  background-color: #03699B;
  margin: 10px;
  padding: 30px;
  color: #fbfef9;
  width: 800px;
}

.flex-container .item2 {
  float: right;
  background-color: #03699B;
  margin: 10px;
  padding: 30px;
  color: #fbfef9;
  width: 800px;
}


h2{
  font-size: 35px;
  padding-bottom: 30px;
}

p{
  font-size: 20px;
}
